# Minimal stable deps for LangChain on Streamlit Cloud
langchain==1.1.0
groq
streamlit
ipykernel
python-dotenv
beautifulsoup4
pypdf
chromadb
sentence-transformers
huggingface_hub
youtube-transcript-api
yt_dlp
pymongo
mysql-connector-python
SQLAlchemy
validators==0.28.1
numexpr
reportlab
duckduckgo-search
wikipedia
unstructured
fastapi
uvicorn
langserve[all]
sse_starlette
